sigmonmap2.json
[{"id":"d520bfa7.adb51","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"1daf5e7.91d41a2","type":"websocket-listener","z":"","path":"ws://127.0.0.1:8989/ws","wholemsg":"true"},{"id":"c835d887.7e0018","type":"websocket-client","z":"","path":"ws://127.0.0.1:8989/ws","tls":"","wholemsg":"false"},{"id":"47351b1.2c529e4","type":"inject","z":"d520bfa7.adb51","name":"","topic":"","payload":"{\"cmd\": \"latest\"}","payloadType":"json","repeat":"7","crontab":"","once":true,"onceDelay":"0.9","x":167.5,"y":235,"wires":[["36b8fcd6.782a94"]]},{"id":"e4b557a3.02eec8","type":"websocket in","z":"d520bfa7.adb51","name":"HP Sigmon WSS","server":"","client":"c835d887.7e0018","x":112,"y":439,"wires":[["638d6c6e.e066c4"]]},{"id":"36b8fcd6.782a94","type":"websocket out","z":"d520bfa7.adb51","name":"HP Sigmon WSS","server":"","client":"c835d887.7e0018","x":511,"y":185,"wires":[]},{"id":"bf4ec1f1.19cb","type":"worldmap","z":"d520bfa7.adb51","name":"","lat":"","lon":"","zoom":"18","layer":"Esri Satellite","cluster":"19","maxage":"","usermenu":"show","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":463.00000762939453,"y":268.0000066757202,"wires":[]},{"id":"638d6c6e.e066c4","type":"json","z":"d520bfa7.adb51","name":"","property":"payload","action":"obj","pretty":false,"x":301.00000381469727,"y":438.00004482269287,"wires":[["f1b29812.18a2d8"]]},{"id":"4f86e073.98a94","type":"function","z":"d520bfa7.adb51","name":"","func":"const pkt = msg.payload\n\n//if(pkt.lastseen < ((new Date() / 1000))) {\n//    node.error('old machine!')\n //   return [false]\n//\n\n//var macs = flow.get('macs')\n\nvar mac = pkt.mac\n\n/*if(macs.hasOwnProperty(pkt.mac)) {\n    if((macs[mac].location == pkt.location) &&\n        macs[mac].rssi == pkt.rssi) {\n        return\n    } else {\n        macs[mac].rssi = pkt.rssi\n        macs[mac].lon = pkt.location.lon\n        macs[mac].lat = pkt.location.lat\n        macs[mac].lastseen = pkt.lastseen\n    }\n} else {\n    macs[mac] = { vendor: pkt.vendor,\n                  lat: pkt.location.lat,\n                  lon: pkt.location.lon,\n                  firstseen: pkt.firstseen,\n                  lastseen: pkt.lastseen,\n                  type: pkt.type,\n                  rssi: pkt.rssi,\n                }\n}\n\nflow.set('macs',macs)\n*/\n\nconst intensity = (parseInt(pkt.rssi) + 100) * 0.01\nconst layer = (pkt.type == 'ap') ? 'Access Points' : 'Clients'\nconst name = (pkt.type == 'ap') ? `${pkt.ssid}-${pkt.mac}` : `${pkt.mac} - ${pkt.vendor}`\n\nmsg.payload = {'name': name,\n               'lat': pkt.location.lat, 'lon': pkt.location.lon,\n               'ttl':400,\n               'icon': 'fa-wifi',\n               'lastseen': pkt.lastseen,\n               'rssi': pkt.rssi,\n               'vendor': pkt.vendor,\n               'layer': layer,\n               'addtoheatmap': 'true',\n               'intensity': intensity\n}\n\nreturn msg","outputs":1,"noerr":0,"x":631.3829383850098,"y":633.4844341278076,"wires":[["bf4ec1f1.19cb"]]},{"id":"f1b29812.18a2d8","type":"change","z":"d520bfa7.adb51","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.db","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":247.3867645263672,"y":570.6953182220459,"wires":[["b74dd90f.1183a8"]]},{"id":"b74dd90f.1183a8","type":"split","z":"d520bfa7.adb51","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":470.3867378234863,"y":591.214864730835,"wires":[["4f86e073.98a94"]]}]
