sigmonmap.node
[{"id":"ded44214.62396","type":"tab","label":"Sigmon Map","disabled":false,"info":"Map WIFi devices.\n\nConnect to node websocket service which is sent wifi packets from various gps enabled sensors in monitor mode."},{"id":"12c5a779.315549","type":"worldmap in","z":"ded44214.62396","name":"Map Element","path":"/map","events":"all","x":115,"y":60,"wires":[["fe32c2a9.47534"]]},{"id":"b855f3b5.8f5fa","type":"worldmap","z":"ded44214.62396","name":"Map Control","lat":"","lon":"","zoom":"17","layer":"Esri Satellite","cluster":"19","maxage":"","usermenu":"show","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/map","x":715,"y":60,"wires":[]},{"id":"fe32c2a9.47534","type":"function","z":"ded44214.62396","name":"Process Map","func":"const cfg = flow.get('config')\n\nif(msg.payload.hasOwnProperty('action')) {\n    if(msg.payload['action'] == 'connected') {\n        flow.set('map_connected', 1)\n        \n        var location = flow.get('location')\n        if(location === undefined)\n            location = cfg.home\n        \n        const command = {'lat': location.lat,\n                    'lon': location.lon,\n                    'zoom': cfg.default_zoom,\n                    'layer': ['Esri Satellite'],\n                    'showlayer': ['roads','railways'],\n                    'button': { 'name': 'toggleMove', 'icon': 'fa-star'},\n            }\n        msg.payload.command = command\n        node.log('Map Connected')\n        return msg\n    } else if (msg.payload['action'] == 'disconnected') {\n        node.error('Map Disconnected')\n        flow.set('map_connected', 0)\n    } else if( msg.payload['action'] == 'button') {\n        if(msg.payload['name'] == 'toggleMove')\n            cfg.move_map = !cfg.move_map\n    }\n}","outputs":1,"noerr":0,"x":415,"y":60,"wires":[["b855f3b5.8f5fa"]]},{"id":"80d8978d.fe3298","type":"function","z":"ded44214.62396","name":"Draw Marker(s)","func":"const cfg = flow.get('config')\nconst pkt = msg.payload\n\nvar macs = flow.get('macs')\n\nvar mac = pkt.mac\nvar name;\n\nif(macs.hasOwnProperty(pkt.mac)) {\n    if((macs[mac].location == msg.payload.location) &&\n        macs[mac].rssi == pkt.rssi) {\n        return\n    } else {\n        macs[mac].rssi = pkt.rssi\n        macs[mac].lon = pkt.location.lon\n        macs[mac].lat = pkt.location.lat\n        macs[mac].lastseen = pkt.time\n    }\n} else {\n    macs[mac] = { vendor: pkt.vendor,\n                  lat: pkt.location.lat,\n                  lon: pkt.location.lon,\n                  firstseen: new Date(),\n                  lastseen: new Date(),\n                  type: pkt.type,\n                  rssi: pkt.rssi.last,\n                }\n}\n\nflow.set('macs',macs)\n\nconst intensity = (parseInt(pkt.rssi) + 100) * 0.01\nconst layer = (pkt.type == 'ap') ? 'Access Points' : 'Clients'\n\nmsg.payload = {'name': `${pkt.macSm} - ${pkt.vendorSm}`,\n               'lat': macs[mac].lat, 'lon': macs[mac].lon,\n               'ttl': cfg.ap_ttl,\n               'icon': 'fa-wifi',\n               'rssi': macs[mac].rssi,\n               'vendor': macs[mac].vendor,\n               'layer': layer,\n               'intensity': intensity\n}\n\nreturn msg","outputs":1,"noerr":0,"x":650,"y":360,"wires":[["b855f3b5.8f5fa"]]},{"id":"5606e252.83095c","type":"worldmap-tracks","z":"ded44214.62396","name":"","depth":"150","layer":"single","x":644,"y":195,"wires":[["b855f3b5.8f5fa"]]},{"id":"bb05e6db.fceb08","type":"function","z":"ded44214.62396","name":"Update Location","func":"var msg2 = {}\n\nif(msg.payload.hasOwnProperty('location')) {\n    const location = {lon: msg.payload.location.lon,\n                lat: msg.payload.location.lat}\n                \n    if(flow.get('location') == location)\n        return\n    \n    flow.set('location',location)\n\n    msg2.payload =  {\n       'name': 'Me',\n       'lat': location.lat,\n       'lon': location.lon,\n       'icon': 'car', 'addtoheatmap': 'false',\n       'draggable': false, \n       'ttl': 720,\n       'layer': 'Me'\n    }\n}\nreturn [msg, msg2]","outputs":2,"noerr":0,"x":455,"y":195,"wires":[["db85a907.863528"],["5606e252.83095c","b855f3b5.8f5fa"]]},{"id":"1e5df7e7.9ead88","type":"websocket in","z":"ded44214.62396","name":"WebSocket IN","server":"","client":"7033bf79.d7462","x":115,"y":195,"wires":[["7dc6fc0e.0f0944"]]},{"id":"18fe657c.334f6b","type":"inject","z":"ded44214.62396","name":"init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"4","x":380,"y":510,"wires":[["c8dcd55a.1f44a8"]]},{"id":"63fecccb.56bb34","type":"websocket out","z":"ded44214.62396","name":"WebSocket Out","server":"","client":"7033bf79.d7462","x":721,"y":510,"wires":[]},{"id":"7dc6fc0e.0f0944","type":"json","z":"ded44214.62396","name":"","property":"payload","action":"obj","pretty":true,"x":275,"y":195,"wires":[["bb05e6db.fceb08"]]},{"id":"25f3a478.7143bc","type":"split","z":"ded44214.62396","name":"forEach","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":476,"y":360,"wires":[["80d8978d.fe3298"]]},{"id":"db85a907.863528","type":"switch","z":"ded44214.62396","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"latest","vt":"str"},{"t":"eq","v":"dump","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":178,"y":360,"wires":[["9bf5decb.6b638"],["9bf5decb.6b638"]]},{"id":"9bf5decb.6b638","type":"change","z":"ded44214.62396","name":"move","rules":[{"t":"move","p":"payload.data.db","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":327,"y":360,"wires":[["25f3a478.7143bc"]]},{"id":"c8dcd55a.1f44a8","type":"change","z":"ded44214.62396","name":"subscribe","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"cmd\": \"subscribe\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":510,"wires":[["63fecccb.56bb34"]]},{"id":"ffdd297f.5b2028","type":"config","z":"ded44214.62396","name":"Default Configuration","properties":[{"p":"config","pt":"flow","to":"{\"audio\":true,\"speech\":true,\"status_interval\":30,\"beacon_sleep\":7,\"move_map\":1,\"ap_ttl\":360,\"ap_color\":\"#dddddd\",\"probe_ttl\":120,\"probe_color\":\"#aaaaaa\",\"home\":{\"lon\":\"\",\"lat\":\"\"},\"default_zoom\":18,\"map_redraw\":5000}","tot":"json"},{"p":"macs","pt":"flow","to":"{}","tot":"json"}],"active":true,"x":160,"y":510,"wires":[]},{"id":"7033bf79.d7462","type":"websocket-client","z":"","path":"ws://127.0.0.1:8989/ws","tls":"","wholemsg":"false"}]
